* {
    margin: 0;
    padding: 0;
}

.top-marquee {
    margin-bottom: 0;
}

.text-bold {
    font-weight: bold;
}
.para {
    font-size: small;
    font-weight: bold;
}

.m-0 {
    margin: 0;
}

.top-text {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.top-text-left{
    font-size: 12px;
    font-weight: bold;
}

.top-text-right{
    font-size: 12px;
    font-weight: bold;
    text-align: end;
}

.top-text-right > p {
    display: inline;

}

.menu-display {
    padding-left: 0!important;
    padding-right: 0!important;
    margin-bottom: 2%;
}

/**** Navbar ****/
.background-medium-brown {
    background-color: #AA7B51;
}

.image-duo {
    width: 100%;
    height: 80%;
}

.navbar-medium-brown-button {
    background-color: #AA7B51;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    border: none;
}

nav {
    padding-left: 25%!important;
}

.nav-link {
    padding-left: 30px!important;
    color: white;
}

.image {
    position: absolute;
}

.display-mobile {
    display: none;
}
.img-fluid {
    margin: 10% 0;
}

#close-button {
    color: white;
    border: none;
    background-color: transparent;
}

.mid-top-text {
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin: 5px 0
}

.display-inline {
    display: inline
}
.image-list {
    width: 100%;
    height: 70%;
}

top-light-bar {
    display: none;
}

@media screen and (max-width: 765px) {
    .image-responsive {
        width: -webkit-fill-available;
    }
    .img-fuil {
        margin: 0;
    }
    .navbar-medium-brown-button {
        margin: 0 33%;
        width: 33%;
    }
    .top-light-bar {
        display: block;
    }
    .top-text-left {
        display: none;
    }
    .display-mobile {
        display: block;
    }
}

img {
    width: inherit;
}

.footer-top {
    color: white;
    font-weight: bold;
}

.footer-bottom {
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.bg-dark-brown {
    background: #553019;
    color: #FFFFFF;
    width: 100%;
}
.bg-light-brown {
    background-color: #C7B299;
}

.logo-cafe:first-child {
}